                *,
                *::before,
                *::after {
                    box-sizing: border-box;
                }
                
                @font-face {
                    font-family: 'sf-pro-display';
                    src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'), url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
                    font-style: normal;
                    font-weight: normal;
                    font-display: swap;
                }
                
                @font-face {
                    font-family: 'sf-pro-display';
                    src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'), url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
                    font-style: normal;
                    font-weight: bold;
                    font-display: swap;
                }
                
                @font-face {
                    font-family: 'spaceagecyrillic';
                    src: url('../fonts/spaceagecyrillic-regular.woff') format('woff');
                    font-style: normal;
                    font-weight: normal;
                    font-display: swap;
                }
                
                a {
                    text-decoration: none;
                    color: inherit;
                }
                
                body {
                    color: #fff;
                    font-size: 18px;
                    font-family: sf-pro-display;
                    font-weight: 400;
                }
                
                .title {
                    font-family: spaceagecyrillic;
                    font-size: 48px;
                    line-height: 48px;
                    font-weight: 400;
                    color: #fff;
                    margin-bottom: 100px;
                }
                
                .button {
                    padding: 20px 143px 19px 143px;
                    border: 1px solid white;
                    font-size: 18px;
                    line-height: 22px;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                }
                
                .container {
                    max-width: 1220px;
                    /* padding: 0; */
                    margin: 0 auto;
                    padding: 0 10px;
                }
                
                .header {
                    background-image: url("../images/header-bg.jpg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                
                .header__inner {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    min-height: 100vh;
                }
                
                .header__top {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 75px;
                    padding-bottom: 30px;
                }
                
                .nav__items {
                    display: flex;
                    /* justify-content: space-between;
    text-align: center; */
                }
                
                .nav__item {
                    padding-right: 30px;
                }
                
                .nav__link {
                    line-height: 21px;
                    transition: color .7s;
                }
                
                .nav__link:hover {
                    color: red;
                }
                
                .header__phone {
                    margin-right: 134px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 24px;
                    line-height: 29px;
                }
                
                .header__img {
                    margin-left: 22px;
                    /* position: relative; */
                }
                
                .header__center {
                    padding-top: 180px;
                    max-width: 600px;
                }
                
                .header__title {
                    font-size: 60px;
                    font-family: spaceagecyrillic;
                    font-weight: 700;
                }
                
                .header__title span {
                    font-size: 110px;
                }
                
                .header__center-text {
                    /* column-count: 2; */
                    display: flex;
                    justify-content: space-between;
                    font-size: 24px;
                    padding-bottom: 52px;
                    padding-top: 10px;
                }
                
                .header__center-btn {
                    padding: 15px 10px 16px 10px;
                    background-color: transparent;
                    border: 1px solid #FFFFFF;
                    font-size: 24px;
                    line-height: 29px;
                    color: inherit;
                    width: 100%;
                    text-transform: uppercase;
                }
                
                .header__content {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                
                .header__content {
                    padding-left: 818px;
                    font-size: 14px;
                    margin-top: 112px;
                    margin-bottom: 100px;
                }
                
                .header__content-text+.header__content-text {
                    padding-left: 52px;
                }
                
                .about {
                    background-image: url("../images/about-bg.jpg");
                    background-size: cover;
                    position: top center;
                    background-repeat: no-repeat;
                    padding-top: 100px;
                }
                
                .about__inner {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                
                .about__item {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 150px;
                    flex-wrap: wrap;
                }
                
                .about_img {
                    max-width: 100%;
                }
                
                .about__content {
                    max-width: 600px;
                }
                
                .about__title {
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 36px;
                    margin-bottom: 5px;
                }
                
                .about__subtitle {
                    font-size: 12px;
                    line-height: 14px;
                    text-transform: uppercase;
                    color: #036CCA;
                    margin-bottom: 31px;
                }
                
                .about__content-text {
                    display: flex;
                    justify-content: space-between;
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 400;
                    margin-bottom: 50px;
                }
                
                .about__content-text p {
                    margin-left: 34px;
                    width: 165px;
                }
                
                .about__content-text p:first-child {
                    margin-left: 0;
                }
                
                .about__table {
                    margin-bottom: 50px;
                }
                
                .about__table tr {
                    border: 1px solid white;
                    border-right: none;
                    border-left: none;
                }
                
                .table__row1 {
                    font-size: 16px;
                    line-height: 19px;
                }
                
                .table__row2 {
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 43px;
                    text-align: center;
                }
                
                .about__table td {
                    padding: 10px 30px 10px 0;
                }
                
                .about__table td span {
                    font-size: 14px;
                    line-height: 17px;
                    display: block;
                }
                
                .about__btn {
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    padding: 20px 44px 21px 45px;
                    background-color: transparent;
                    border: 1px solid white;
                }
                
                caption {
                    caption-side: bottom;
                    text-align: left;
                    font-size: 12px;
                    line-height: 14px;
                    padding-top: 20px;
                }
                
                .how-to {
                    background-image: url('../images/howto-bg.jpg');
                    background-position: top center;
                    background-size: cover;
                    padding-top: 100px;
                }
                
                .how-to__box {
                    padding-bottom: 100px;
                    text-align: center;
                }
                
                svg circle:hover {
                    fill: #036CCA;
                    r: 15px;
                }
                
                .how-to__box g:hover circle {
                    fill: #036CCA;
                    r: 15px;
                }
                
                .how-to__box g:hover text {
                    fill: #036CCA;
                    font-size: 20px;
                }
                
                .how-to__box circle,
                .how-to__box text,
                foreignObject {
                    transition: all .5s;
                    cursor: pointer;
                }
                
                foreignOBject {
                    text-align: left;
                }
                
                .how-to__box g:hover foreignObject {
                    color: #036CCA;
                    font-size: 20px;
                }
                
                .to-book {
                    background-image: url("../images/to-book-bg.jpg");
                    background-size: cover;
                    background-position: top center;
                    background-repeat: no-repeat;
                }
                
                .to-book {
                    min-height: 100vh;
                    /* padding-top: 100px; */
                }
                
                .to-book__inner {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 100px;
                }
                
                .to-book__text {
                    font-size: 14px;
                    line-height: 17px;
                    margin-left: auto;
                    max-width: 165px;
                }
                
                .to-book__text+.to-book__text {
                    margin-left: 53px;
                }
                
                .offers {
                    background-image: url("../images/offers-bg.jpg");
                    background-size: cover;
                    background-position: top center;
                    background-repeat: no-repeat;
                    padding-bottom: 100px;
                }
                
                .offers .container .title {
                    padding-top: 100px;
                }
                
                .offers__boxs {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 200px;
                    padding-bottom: 100px;
                }
                
                .offers__box-content {
                    max-width: 500px;
                    min-height: 400px;
                    text-align: center;
                    border: 1px solid white;
                    margin-bottom: 60px;
                }
                
                .offers-text {
                    margin: 43px auto 0 auto;
                    max-width: 225px;
                    max-height: 112px;
                    font-size: 24px;
                    line-height: 29px;
                    text-align: center;
                    margin-bottom: 113px;
                }
                
                .offers-text span {
                    color: red;
                }
                
                .offers__upper-price {
                    margin-right: 75px;
                    text-align: right;
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 16px;
                    position: relative;
                }
                
                .offers__upper-price::before {
                    content: "";
                    position: absolute;
                    height: 3px;
                    width: 68px;
                    background-color: red;
                    transform: rotate(13deg);
                    top: 7px;
                }
                
                .offers__price {
                    font-size: 48px;
                    line-height: 57px;
                    margin-bottom: 38px;
                }
                
                .offers__box-link {
                    padding: 20px 143px 19px 143px;
                    border: 1px solid white;
                    font-size: 18px;
                    line-height: 22px;
                }
                
                .services {
                    padding-bottom: 200px;
                }
                
                .services__inner {
                    display: flex;
                    justify-content: space-between;
                }
                
                .services__box-list {
                    width: 620px;
                    margin-right: 80px;
                    font-size: 24px;
                    line-height: 29px;
                }
                
                .services__list-title {
                    margin-bottom: 25px;
                }
                
                .services__list {
                    list-style: none;
                    margin-bottom: 25px;
                }
                
                .services__list-item {
                    padding-left: 36px;
                    position: relative;
                }
                
                .services__list-item::before {
                    content: " ";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: white;
                    left: 0;
                    top: 5px;
                }
                
                .services__description {
                    font-size: 12px;
                    line-height: 14px;
                    margin-top: 25px;
                    padding-left: 0;
                }
                
                .services__buttons {
                    width: 500px;
                }
                
                .services__btn--1 {
                    margin-bottom: 50px;
                    position: relative;
                }
                
                .services__btn--1::before {
                    content: ' ';
                    position: absolute;
                    background-image: url('../images/services.png');
                    width: 192px;
                    height: 150px;
                    right: 5px;
                    bottom: 63px;
                }
                
                .slider {
                    text-align: center;
                }
                
                .slider__inner {
                    margin-bottom: 50px;
                    border: 1px solid white;
                    padding: 100px 0 100px;
                }
                /* .slider__box {
    position: relative;
} */
                
                .slider__description {
                    font-size: 24px;
                    font-family: spaceagecyrillic;
                    line-height: 30px;
                }
                
                .slider__box-img {
                    margin: 0 auto;
                }
                
                .slider__arrow {
                    position: absolute;
                    cursor: pointer;
                    top: 50%;
                    z-index: 1;
                }
                
                .slider__arrow-left {
                    left: 75px;
                }
                
                .slider__arrow-right {
                    right: 75px;
                }
                
                .contacts {
                    background-color: #010203;
                    padding-bottom: 100px;
                }
                
                .contacts__inner {
                    display: flex;
                    justify-content: space-between;
                }
                
                .contacts__title {
                    margin-bottom: 46px;
                }
                
                .contacts__box {
                    width: 500px;
                    margin-right: 100px;
                }
                
                .contacts__box-text {
                    font-size: 24px;
                    line-height: 29px;
                    margin-bottom: 80px;
                }
                
                .contacts__box-form {
                    display: flex;
                    flex-direction: column;
                }
                
                .contacts__box-form input {
                    padding: 20px 0 20px;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid #fff;
                    margin-bottom: 30px;
                    color: #fff;
                    font-family: 'sf-pro-display';
                    font-size: 14px;
                    line-height: 17px;
                }
                
                .contacts__box-form input::placeholder {
                    color: #fff;
                    font-family: 'sf-pro-display';
                    font-size: 14px;
                    line-height: 17px;
                    border: none;
                }
                
                .contacts__btn {
                    margin-top: 70px;
                    font-size: 18px;
                    line-height: 21px;
                    padding: 20px 0;
                    border: 1px solid #fff;
                    width: 100%;
                    cursor: pointer;
                    text-align: center;
                }
                
                .contacts__guarantees {
                    width: 600px;
                }
                
                .contacts__guarantees-text {
                    font-size: 24px;
                    line-height: 29px;
                }
                
                .contacts__guarantees-img {
                    display: flex;
                    justify-content: flex-end;
                    margin-left: auto;
                }
                
                .footer {
                    background-image: url('../images/footer-bg.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: top center;
                    padding: 100px 0 150px;
                }
                
                .footer__inner {
                    display: flex;
                    justify-content: flex-end;
                }
                
                .footer__text {
                    width: 165px;
                    margin-right: 50px;
                }
                
                .footer__text p+p {
                    margin-top: 50px;
                }
                
                .footer__menu {
                    list-style: none;
                    text-transform: uppercase;
                    width: 120px;
                    margin-right: 95px;
                }
                
                .footer__menu-item,
                .footer__links-item {
                    margin-bottom: 20px;
                }
                
                .footer__links {
                    list-style: none;
                    width: 165px;
                    text-transform: uppercase;
                }
                
                .footer__links-link,
                .footer__menu-link {
                    transition: color .5s;
                }
                
                .footer__links-link:hover,
                .footer__menu-link:hover {
                    color: red;
                }
                
                .menu__btn {
                    display: none;
                    width: 40px;
                    z-index: 20;
                    position: relative;
                    height: 30px;
                }
                
                .menu__btn span {
                    display: block;
                    height: 6px;
                    background-color: #fff;
                    position: relative;
                }
                
                .menu__btn span::before,
                .menu__btn span::after {
                    content: '';
                    width: 40px;
                    height: 6px;
                    background-color: #fff;
                    position: absolute;
                }
                
                .menu__btn span::before {
                    top: -12px;
                }
                
                .menu__btn span::after {
                    top: 12px;
                }
                
                .how-to__box-list {
                    display: none;
                }
                
                @media (max-width:1250px) {
                    .header__content {
                        padding-left: 0;
                    }
                    .header__phone {
                        margin-right: 0;
                    }
                    .about {
                        padding-top: 0px;
                    }
                    .to-book__inner {
                        display: block;
                        margin-top: 30px;
                    }
                    .to-book__text {
                        margin: 0 auto;
                        max-width: 100%;
                        font-size: 18px;
                        line-height: 24px;
                        margin-left: auto;
                        margin-bottom: 30px;
                    }
                    .to-book__text+.to-book__text {
                        margin-left: 0;
                    }
                    .to-book {
                        background-position: top left;
                    }
                    .offers__box-link {
                        padding-left: 20px;
                        padding-right: 20px;
                        width: 100%;
                        text-align: center;
                    }
                    .offers__boxs {
                        display: block;
                        text-align: center;
                    }
                    .offers__box-content {
                        margin-top: 60px;
                    }
                    .offers__box-content {
                        max-width: 100%;
                    }
                    .footer {
                        padding-bottom: 50px;
                        padding-top: 50px;
                    }
                    .footer__inner {
                        justify-content: space-between;
                        margin: 0 auto;
                        text-align: center;
                    }
                    .footer__menu {
                        width: 100%;
                    }
                    .footer__text {
                        width: 100%;
                    }
                    .footer__links {
                        width: 100%;
                        margin-right: auto;
                    }
                    .contacts {
                        padding-bottom: 50px;
                    }
                }
                
                @media (max-width:1125px) {
                    .about__item {
                        display: block;
                        text-align: center;
                    }
                    .about__content {
                        max-width: 100%;
                    }
                    .about__table {
                        width: 100%;
                    }
                    .about__content-text {
                        display: block;
                        width: 100%;
                    }
                    .about__content-text p {
                        margin-left: auto;
                        margin-right: auto;
                        width: 100%;
                        padding-bottom: 10px;
                    }
                    .about__table {
                        display: none;
                    }
                }
                
                @media (max-width:900px) {
                    .menu__btn {
                        display: block;
                        transition: all .5s;
                        cursor: pointer;
                    }
                    .nav__items {
                        display: block;
                        position: absolute;
                        top: 0px;
                        background-color: #010203;
                        padding-top: 80px;
                        right: 0px;
                        left: 0px;
                        width: 100%;
                        text-align: center;
                        transform: translateY(-150%);
                        transition: all .5s;
                    }
                    .nav__items.active {
                        transform: translateY(0);
                    }
                    .nav__item {
                        padding: 15px 0;
                    }
                    .header__top {
                        padding-top: 30px;
                    }
                    .header__phone {
                        position: relative;
                        z-index: 20;
                        font-size: 18px;
                    }
                    .header__center {
                        margin: 0 auto;
                    }
                    .header {
                        background-position: center right;
                    }
                    .how-to__box svg {
                        display: none;
                    }
                    .how-to__box-list {
                        display: block;
                        padding-left: 20px;
                        text-align: left;
                        list-style: none;
                    }
                    .how-to__box-list li {
                        padding-bottom: 30px;
                        padding-left: 40px;
                        position: relative;
                        border-left: 1px solid #FFF;
                    }
                    .how-to__box-list li:last-child {
                        padding-bottom: 0;
                    }
                    .how-to__box-list li::before {
                        content: '';
                        width: 20px;
                        height: 20px;
                        background-color: #fff;
                        position: absolute;
                        border-radius: 50%;
                        left: -10px;
                    }
                    .services__inner {
                        display: block;
                    }
                    .services__list {
                        margin-bottom: 180px;
                    }
                    .services__box-list {
                        width: 100%;
                    }
                    .services__buttons {
                        width: 100%;
                        margin: 0 auto;
                    }
                    .button {
                        padding: 20px 0px 19px 0px;
                        width: 100%;
                    }
                    .services__btn--1 {
                        padding: 20px 0px 19px 0px;
                        width: 100%;
                    }
                    .services__title {
                        font-size: 20px;
                    }
                    .slider__box-img {
                        width: 100%;
                    }
                    .slider__inner {
                        padding: 0;
                    }
                    .slider__description {
                        font-size: 18px;
                        line-height: 24px;
                    }
                    .services {
                        padding-bottom: 75px;
                    }
                    .services__box-list {
                        font-size: 20px;
                        line-height: 24px;
                    }
                    .slider__arrow {
                        display: none;
                    }
                }
                
                @media (max-width:875px) {
                    .contacts__inner {
                        display: block;
                    }
                    .contacts__guarantees-img {
                        display: block;
                        margin: 0 auto;
                        width: 100%;
                    }
                    .contacts__box {
                        width: 100%;
                        margin-bottom: 60px;
                    }
                    .contacts__btn {
                        margin-top: 15px;
                    }
                    .contacts__guarantees {
                        width: 100%;
                    }
                }
                
                @media (max-width:620px) {
                    .header__title span {
                        font-size: 60px;
                    }
                    .header__title {
                        font-size: 30px;
                        line-height: 40px;
                        text-align: center;
                    }
                    .header__center-text {
                        font-size: 20px;
                        justify-content: center;
                        text-align: center;
                    }
                    .header__center-text p {
                        padding: 0 10px;
                    }
                    .header__content {
                        display: block;
                        font-size: 14px;
                    }
                    .header__content-text+.header__content-text {
                        padding-left: 0;
                        margin-top: 10px;
                    }
                    .title {
                        margin-bottom: 30px;
                        font-size: 22px;
                        line-height: 26px;
                    }
                    .to-book__title {
                        margin-bottom: 30px;
                        font-size: 24px;
                        line-height: 30px;
                    }
                    .contacts__title {
                        font-size: 30px;
                    }
                    .about__img {
                        width: 100%;
                    }
                    .about__btn {
                        padding: 20px 25px;
                    }
                    .footer__inner {
                        display: block;
                    }
                    .footer__text p+p {
                        margin-top: 20px;
                    }
                    .footer__menu {
                        padding-bottom: 50px;
                    }
                    .footer__text {
                        padding-bottom: 50px;
                    }
                }
                
                @media (max-width:380px) {
                    .header__title span {
                        font-size: 40px;
                    }
                    .header__title {
                        font-size: 30px;
                        line-height: 30px;
                        text-align: center;
                    }
                    .header__center-text {
                        font-size: 14px;
                    }
                    .header__center-text {
                        padding-top: 50px;
                    }
                }